body {
  /* box model */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 100vh;
  padding: 0;
  margin: 0;

  /* background */
  background: url('https://cdn.pixabay.com/photo/2016/06/02/02/33/triangles-1430105_1280.png');
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat;
}

main {
  /* box model */
  width: 320px;
  height: 450px;
  padding: 20px;
  border-radius: 20px;
  overflow-y: auto;

  /* background */
  background: whitesmoke;
}